* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #242424;
  color: white;
  overflow: hidden;
}

.application {
  width: 1280px;
  height: 800px;
  -webkit-filter: blur(3px);
  opacity: 0.5;
}
