<div class="games-container">
    <div id="0" class="game-container active"></div>
    <div id="1" class="game-container"></div>
    <div id="2" class="game-container"></div>
    <div id="3" class="game-container"></div>
    <div id="4" class="game-container"></div>
    <div id="5" class="game-container"></div>
    <div id="6" class="game-container"></div>
    <div id="7" class="game-container"></div>
    <div id="8" class="game-container"></div>
    <div id="9" class="game-container"></div>
    <div id="cursor" class="cursor"></div>

    <script>
        let active_game = 0;
        let sent = false;

        const button_hold_map = new Map();
        const button_press_map = new Map();
        
        function set_cursor_to_active_element() {
            const active_element = document.getElementById(active_game);
            const active_element_rect = active_element.getBoundingClientRect();

            const cursor = document.getElementById("cursor");
            cursor.style.left = `${active_element_rect.left - 12}px`;
            cursor.style.top = `${active_element_rect.top - 10}px`;
            cursor.style.width = `${active_element_rect.width + 20}px`;
            cursor.style.height = `${active_element_rect.height + 20}px`;
        }

        function poll_gamepad() {
            const gamepads = navigator.getGamepads();
            if (gamepads.length >= 1) {
                gamepads.forEach((gamepad) => {
                    if (gamepad) {
                        gamepad.buttons.forEach((button, index) => {
                            button_hold_map.set(index, button.pressed);
                            
                            if (!button.pressed) {
                                button_press_map.set(index, false);
                            }
                        })
                    }
                })
            }

            if (is_gamepad_button_pressed(0)) {
                console.log("PRESS");
            }

            requestAnimationFrame(poll_gamepad);
        }

        function is_gamepad_button_down(button) {
            const val = button_hold_map.get(button);
            if (val == true) {
                return true;
            }

            return false;
        }

        function is_gamepad_button_pressed(button) {
            const val_press = button_press_map.get(button);
            const val_hold = button_hold_map.get(button);


            if (val_hold && (val_press == false || val_press == undefined)) {
                button_press_map.set(button, true);
                return true;
            }

            return false;
        }

        window.ongamepadconnected = (e) => {
            console.log(e);
        }

        window.onload = () => {
            set_cursor_to_active_element();

            poll_gamepad();
        }

        window.onresize = () => {
            set_cursor_to_active_element();
        }
    </script>
</div>