<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latte</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
</head>
<body>
    <main hx-get="/games" hx-trigger="load" hx-swap="innerHTML">
    </main>
    <footer>
        <div class="bottom-bar">
            <div class="prompt">
                <svg class="a-button" width="20" height="20" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="29" cy="29" r="29" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M29 55.1C43.4146 55.1 55.1 43.4146 55.1 29C55.1 14.5854 43.4146 2.9 29 2.9C14.5854 2.9 2.9 14.5854 2.9 29C2.9 43.4146 14.5854 55.1 29 55.1ZM29 58C45.0163 58 58 45.0163 58 29C58 12.9837 45.0163 0 29 0C12.9837 0 0 12.9837 0 29C0 45.0163 12.9837 58 29 58Z" fill="white"/>
                    <path d="M43.5 43.5H37.151L34.6288 36.9114H23.0759L20.6893 43.5H14.5L25.7577 14.5H31.9259L43.5 43.5ZM32.7546 32.0373L28.774 21.2639L24.8688 32.0373H32.7546Z" fill="white"/>
                </svg>
                <p>Start</p>
            </div>
        </div>
    </footer>
</body>
</html>